<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header class="header"><%- include("./partials/header.ejs")%></header>
    <main>
      <h3 class="h3-description"> > Ford Ka 2021 HLS Strawberry Red</h3>
      <div class="cube">
        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1">
            </button>
            <button
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="1"
              aria-label="Slide 2">
            </button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="#">
                <img src="/img/description/ka-1.png" class="d-block w-100" />
              <div class="carousel-caption d-none d-md-block">
                </a>
              </div>
            </div>
            <div class="carousel-item">
              <a href="#">
              <img src="/img/description/ka-2.png" class="d-block w-100" />
              <div class="carousel-caption d-none d-md-block">
                </a>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  <div class="margin-top centered">
    <h2>Precio: 2.770.000</h2>
  </div>
  <div class="centered">
    <h3 class="h3-discount">Bonificación 5% compra online</h3>
  </div>
  <div class="centered">
    <h1 class="h1-final-price">¡Precio final online 2.631.500! </h1>
  </div>
  <div class="margin-top centered">
    <button class="button-send" type="submit">Realizar consulta</button>
    <button class="button-send" type="submit">¡Comenzar compra!</button>
  </div>
  <div>
  <h3 class="h3-description-title margin-top">Características</h3>
  <p class="h4-text-bold"> > General</p>
  <p class="h5-text">Año: 2020</p>
  <p class="h5-text">Procedencia: Brasil</p>
  <p class="h5-text">Tipo de Combustible: Nafta</p>
  <p class="h5-text">Transmisión: Manual</p>
  <p class="h5-text">Ubicación: Agencia Mendoza</p>
  <p class="h5-text">Stock ID: 182896</p>

  <p class="h4-text-bold"> > Exterior</p>

  <p class="h5-text">Número de Puertas: 4</p>
  <p class="h5-text">Seguridad: ABS</p>
  <p class="h5-text">Entretenimiento: Radio - FM/AM - Mp3 - Bluetooth</p>
  </div>
    </main>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
  <p class="copyright">Copyright © 2020-2022 X S.R.L</p>
</html>
