<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header class="header"><%- include("./partials/header.ejs")%></header>
    <main>
        <div class="" id="feedback">

            <h1>Consulta enviada!</h1>
        </div>
    </main>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>