<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <header class="header"><%- include("./partials/header.ejs")%></header>
    <main>
      <h2 class="title-form">Crea un producto</h2>     
      <form action="/products" method="POST">
        <div class="register_container">       
          <div class="name-product">
            <h4 class="item-title">Indica marca</h4>
            <input
              class="input"
              type="text"
              name="brand"
              id="brand"
              placeholder="Ej: Ford"
            />
          </div>
          <div class="name-product">
            <h4 class="item-title">Indica modelo</h4>
            <input
              class="input"
              type="text"
              name="model"
              id="model"
              placeholder="Ej: Fiesta"
            />
          </div>
          <div class="version-product">
            <h4 class="item-title"> Año de fabricación </h4>
            <input
              class="input"
              type="text"
              name="manufacture_year"
              id="manufacture_year"
              placeholder="Ej: 2000"
            />
          </div>
          <!--<div class="category-product">
            <h4 class="item-title">¿A qué categoría pertenece?</h4>
            <select class="input" name="category" id="category">
              <option value="">Elegí una opcion</option>
              <option value="new">Nuevo</option>
              <option value="used">Usado</option>
            </select>
          </div>-->
          <div class="color-product">
            <h4 class="item-title">Color</h4>
            <input class="input" type="text" name="color" id="color" placeholder="Ej: Rojo"/>
          </div>
          <div class="number-doors" >
            <h4 class="item-title">Número de puertas</h4>
            <input class="input" type="number" name="door_number" id="door_number" placeholder="Ej: 5"/>
            <!-- <div class="container-message-alert">
              <p class="icon-message-alert"><i class="fa-solid fa-triangle-exclamation" class=></i></p>
              <p class="message-alert">Solo números</p>
            </div> -->
          </div>
          <div class="trasmition">
            <h4 class="item-title">Transmisión</h4>
            <input class="input" type="text" name="transmission" id="transmission" placeholder="Ej: Manual"/></div>
          <div class="fuel-type">
            <h4 class="item-title">Tipo de motor</h4>
            <input class="input" type="text" name="motor_type" id="motor_type" placeholder="Ej: Nafta" />
          </div>
          <div>
            <h4 class="item-title">Carga una imagen</h4>
            <input
            type="file"
            name="productPic"
            id="productPic"
            class="input"
          />
          </div>
          <div class="fuel-type">
            <h4 class="item-title">Descripción</h4>
            <input class="input" type="text" name="description" id="description" placeholder="Ej: Buen producto, eficiente." />
          </div>

          <div class="price-product">
            <h4 class="item-title">Precio</h4>
            <input class="input" type="number" name="price" id="price" />
          </div>
          <div class="discount-product">
            <h4 class="item-title">Descuento</h4>
            <input class="input" type="number" name="discount" id="discount" />
          </div>
          <div class="buttons">
            <button class="button-send" type="submit">Crear</button>
          </div>
      </form>
    </main>
    <footer><%- include("./partials/footer.ejs")%></footer>
  </body>
</html>