.header {
  background-color: white;
  padding: 0 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hamburguer-buttom {
  background-color: #8bb6b9;
  border-radius: 8px;
  color: black;
  display: block;
  font-size: 18px;
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
  text-align: center;
  position: absolute;
  right: 20px;
  margin-top: 5px;
}

.logo {
  width: 100px;
  padding: 0 8px;
}

.item-logo {
  width: 33%;
}

.navbar {
  font-size: 10px;
}

.img-product {
  padding: 10px;
}
.size-img {
  width: 70vw;
}

.product-card {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  margin-bottom: 16px;
  margin-right: 16px;
  margin-left: 16px;
}

.description-product {
  border-top: 2px solid #bebebe;
}

.img-product {
  text-align: center;
}

.name {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #059393;
  margin-bottom: 0;
}

.detail {
  width: 100%;
  margin-bottom: 0;
}

.titler {
  text-align: center;
  margin-top: 20px;
}

.price {
  width: 100%;
  font-weight: 800;
  margin-bottom: 0;
}

.products-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.description-product {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.h3-description {
  margin-left: 10%;
  text-shadow: #06314a;
}

.h3-description-title {
  margin-left: 10%;
  text-shadow: #06314a;
}

.h4-text-bold {
  font-weight: bold;
  margin-left: 15%;
  text-shadow: #06314a;
}

.h5-text {
  margin-left: 20%;
  text-shadow: #06314a;
}

.margin-top {
  margin-top: 50px;
}

.centered {
  display: flex;
  justify-content: center;
}

.h3-discount {
  color: rgb(11, 167, 5);
}

.h1-final-price {
  font-weight: bold;
  color: rgb(4, 7, 150);
}

@media (min-width: 460px) {
  /*--------Header--------*/
  .header {
    padding: 0 20px;
  }

  .container-header-top {
    display: flex;
  }

  .hamburguer-buttom {
    width: 50%;
  }

  .logo {
    width: 100px;
    padding: 0 8px;
  }

  .item-logo {
    width: 33%;
  }

  .hamburguer-buttom {
    width: 50%;
    padding-top: 7px;
  }

  .title-header {
    color: black;
    display: block;
    width: 33%;
    text-align: center;
    margin-top: 16px;
    margin-left: 8px;
    font-weight: 600;
  }

  .navbar {
    display: none;
    font-size: 20px;
  }

  .search-button {
    max-width: 50px;
    min-width: 30px;
  }

  /*---------Products-------*/

  .product-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 40px;
    width: 90vw;
    max-width: 680px;
  }

  .img-product {
    text-align: center;
  }

  .banner {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Laptop + */
@media (min-width: 768px) {
  /*--------Header--------*/
  .header {
    box-shadow: 0 5px 5px -5px rgb(100, 100, 100);
    padding: 0px;
  }

  .container-header-top {
    display: flex;
    padding: 0 20px;
    margin: 0 100px;
  }

  .item-logo {
    width: 50%;
  }

  .logo {
    width: 200px;
    padding: 0 16px;
  }

  .title-header {
    display: block;
    text-align: right;
    font-weight: 600;
    font-size: 40px;
    width: 50%;
    margin-top: 24px;
    padding: 0 20px;
  }

  .hamburguer-buttom {
    display: none;
  }

  /*--------Nav--------*/
  .navbar {
    display: block;
    padding: 10px 20px;
    align-items: center;
    background-color: #8bb6b9;
  }

  .items-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
    margin-bottom: 0;
  }

  .items-navbar li {
    margin-right: 16px;
  }

  /*---------Products-------*/

  .products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 45%;
  }

  .size-img {
    width: 300px;
  }

  .cube {
    margin-top: 40px;
    box-shadow: 0px 0px 50px rgb(100, 100, 100);
    margin-left: 9%;
    margin-right: 9%;
    width: 80%;
  }
}

@media (min-width: 1200px) {
  /*---------Products-------*/
  .products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
  }

  .product-card:hover {
    box-shadow: 0px 0px 30px rgb(34, 83, 118);
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 22%;
  }

  .size-img {
    width: 270px;
  }
}
