.main-header {
  background-color: #ffffff;
  padding: 20px;
}

.logo {
  width: 250px;
}

/* Tablet + */
@media (min-width: 480px) {
  .main-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

/* Laptop + */
@media (min-width: 768px) {
}
