html{
  min-width: 330px;
}

body {
  font-size: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.search-input {
  max-width: 1000px;
}
