.search {
  background-color: #3d4549;
  padding: 8px 120px;
}

.search-input {
  min-width: 40vw;
  max-width: 500px;
  width: 95vw;
  padding: 9px;
  border: none;
  border-radius: 5px;
  justify-content: center;
}

.search-button {
  border: none;
  border-radius: 5px;
  background: white;
  color: #3d4549;
  font-size: 16px;
  min-width: 30px;
  width: 20vw;
  max-width: 50px;
}

.search-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.product-card {
  width: 80vw;
  display: block;
  justify-content: center;
  /* margin: auto; */
}

.img-product {
  text-align: center;
}

.name {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  color: #059393;
  margin-bottom: 0;
}

.detail {
  width: 100%;
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-bottom: 0;
}

.price {
  width: 100%;
  font-weight: 800;
  margin-bottom: 0;
}

.buttons2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* width: calc(50vw - 10px); */
}

@media (min-width: 460px) {
  .product-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 20px;
    width: 80vw;
    max-width: 680px;
  }

  .description-product {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 5px;
    border-top: 1px solid rgb(114, 110, 110);
  }

  .img-product {
    text-align: center;
  }

  .size-img {
    width: 75%;
  }

  .name {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #059393;
  }

  .detail {
    width: 100%;
  }

  .price {
    width: 100%;
    font-weight: 800;
  }

  .container-title {
    box-sizing: border-box;
    /* background-color: #8bb6b9; */
    padding: 15px 0 15px;
  }
}

@media (min-width: 768px) {
  .products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 80vw;
  }

  .size-img {
    width: 75%;
  }

  .container-title {
    box-sizing: border-box;
    background-color: white;
    padding: 15px 0 15px;
  }
}

@media (min-width: 1200px) {
  .products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-card {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 20px;
    margin-left: 20px;
    width: calc(22vw - 10px);
    max-height: 40vw;
  }

  .size-img {
    width: 75%;
  }

  .container-title {
    padding: 15px 0 15px;
  }
}

.consulta_form{
  padding: 20px;
}

#consulta{
  width: 40vw;
  height: 30vh;
  padding-left: 10px;
  padding-top: 10px;
}

#feedback{
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.imgOwn{
  width: 300px;
}

.ownProductsContainer{
  margin-top: 30px;
  margin-bottom: 50px;
}
.ownProduct{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ownProduct .desc{
  width:45%;
}

