.user-img{
    width:30vw;
}

.buttons{
    display:flex;
    justify-content:space-around;  
}

.register {
    display: flex;
    flex-direction: column;
}

.register input {
    align-self: center;
}