<div class="container-header-top">
  <p class="item-logo">
    <a href="/">
      <img src="/img/logo.svg" alt="En ruedas" class="logo" />
    </a>
  </p>
  <a href="#" class="hamburguer-buttom">
    <i class="fa-solid fa-bars"></i>
  </a>
  <p class="title-header">EN RUEDAS</p>
</div>
<div class="navbar">
  <ul class="items-navbar">
    <li><a href="">Comprá tu auto </a></li>
    <li><a href="">Vende tu auto</a></li>
    <li>
      <a>Ingresá</a>
      <i class="fa-solid fa-right-to-bracket"></i>
    </li>
  </ul>
</div>
