<form class='search' action="/products/search" method="POST">
  <div class="search-container">
    <input
      type="search"
      name="search"
      id="search"
      class="search-input"
      placeholder="Buscar producto por marca"
    />
    <button type="submit" id="search-button" class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</form>
