<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/css/materialize.css" /> -->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <script
      src="https://kit.fontawesome.com/d1ef198698.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Raleway:wght@200;300&display=swap"
      rel="stylesheet"
    />

    <title>enruedas.com | Tu mejor vehículo</title>
  </head>
  <body>
    <header class="header">
      <div class="container-header-top">
        <p class="item-logo">
          <a href="/">
            <img src="/img/logo.svg" alt="En ruedas" class="logo" />
          </a>
        </p>
        <a href="#" class="hamburguer-buttom">
          <i class="fa-solid fa-bars"></i>
        </a>
        <p class="title-header">EN RUEDAS</p>
      </div>
      <div class="navbar">
        <ul class="items-navbar">
          <li><a href="/">Compra tu auto </a></li>
          <li><a href="/">Financia tu auto</a></li>
          <li><a href="/">Vende tu auto</a></li>
          <li>
            <a href="/login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="container-title">
        <h1 class="title">Encontra tu auto!</h1>
      </div>
      <div>
        <form class="search">
          <div class="search-container">
            <input
              type="search"
              name="search"
              id="search"
              class="search-input"
              placeholder="Buscar producto"
            />
            <button type="submit" id="search-button" class="search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
      <section class="products-section">
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
        <div class="product-card">
          <a href="/description">
            <div class="img-product">
              <img src="/img/ka.svg" alt="Ford Ka" class="size-img" />
            </div>
            <div class="description-product">
              <p class="name">Ford Ka</p>
              <p class="detail">Detalle</p>
              <p class="price">$2.770.000</p>
            </div>
          </a>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer_left">
        <h2>Nuestras oficinas</h2>
        <div class="offices">
          <p>
            <i class="fas fa-map-marker-alt"></i>
            <span>Buenos Aires</span>
          </p>
          <p>
            <i class="fas fa-map-marker-alt"></i>
            <span>Mendoza</span>
          </p>
          <p>
            <i class="fas fa-map-marker-alt"></i>
            <span>Córdoba</span>
          </p>
        </div>
      </div>
      <div class="footer_center">
        <h2>Contacto</h2>
        <div class="contact">
          <p>
            <i class="fas fa-phone"></i>
            <span>+54 9 11 5555-5555</span>
          </p>
          <p>
            <i class="fas fa-envelope"></i>
            <span>contacto@enruedas.com</span>
          </p>
        </div>
      </div>
      <div class="footer_right">
        <h2>Nuestras redes sociales</h2>
        <div class="social_media">
          <a href="#">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter-square"></i>
          </a>
        </div>
      </div>
    </footer>
    <p class="copyright">Copyright © 2020-2022 X S.R.L</p>
  </body>
</html>
